<div id="layoutSidenav_nav">
    <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
        <div class="sb-sidenav-menu">
            <div class="nav">
                <div class="sb-sidenav-menu-heading">Liste</div>
                <a class="nav-link" href="{{ path('articles_list') }}">
                    <div class="sb-nav-link-icon"><i class="fas fa-book"></i></div>
                    Articles
                </a>
                <div class="sb-sidenav-menu-heading">Nos pages</div>
                <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts">
                    <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                    Nos articles
                    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                </a>
                <div class="collapse" id="collapseLayouts" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                    <nav class="sb-sidenav-menu-nested nav">
                        {% for article in articles %}
                            <a class="nav-link" href="{{ path('article_show', {'id': article.id}) }}">{{ article.titre }}</a>
                        {% endfor %}
                    </nav>
                </div>
                <div class="sb-sidenav-menu-heading">Creation d'article</div>
                <a class="nav-link" href="{{ path('app_article_cree') }}">
                    <div class="sb-nav-link-icon"><i class="fas fa-plus"></i></div>
                    Créer un article
                </a>
            </div>
        </div>
        <div class="sb-sidenav-footer">
            <div class="small">Connecté en tant que :</div>
              {# Si on est connecter on affiche l'addresse mail sinon on met un lien vers /login #}
                {% if app.user %}
                    {{ app.user.email }}
                {% else %}
                    <a href="{{ path('app_login') }}">Connexion</a>
                {% endif %}
        </div>
    </nav>
</div>