{% extends 'base.html.twig' %}

{% block title %} {{ article.titre }} {% endblock %}


{% block main %}

<h1 class="mt-4">Article</h1>
    <div class="card mb-3">
        <div class="card-body">
            <img src="{{ asset('uploads/imageFileName/article' ~ article.id ~ '.jpg' ) }}" class="card-img-top" alt="{{ article.titre }}" style="width: 100px;">
            <h2 class="card-title">{{ article.titre }}</h2>
            <p class="card-text">{{ article.texte }}</p>
            <a href="{{ path('articles_list') }}" class="btn btn-primary">Retour</a>
            <a href="{{ path('article_update', {'id': article.id}) }}" class="btn btn-warning">Modifier</a>
            <a href="{{ path('article_delete', {'id': article.id}) }}" class="btn btn-danger">Supprimer</a>
        </div>
        <div class="card-footer text-muted">
            {{ article.date|date('d/m/Y') }}
        </div>
    </div>
    


{% endblock %}
